/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kalam&family=Source+Sans+3:wght@300&family=Zeyada&display=swap');

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  font-family: "Source Sans 3", sans-serif;
  background-color: #9eb5a8;
  color: white;
}

header, h1 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

body, p, h2, h3 {
  font-family: "Source Sans 3", sans-serif;
}

/**
 * Tooltip Styles
*/

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Gallery Styling */
.gallery-body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.screenshot-wrapper {
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}

.screenshot-wrapper .screenshot-container {
  margin: 0;
  padding: 0 0 1rem 0;
  display: flex;
  gap: 2rem;
  height: 12rem;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style-type: none;
  scroll-snap-type: x proximity;
}

.screenshot-wrapper .screenshot {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  scroll-snap-align: center;
}

.screenshot-wrapper .image-container {
  height: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

.screenshot-wrapper img {
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  aspect-ratio: 3/4;
}

.screenshot-wrapper button {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}


/* Accordian Display */

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #ededed;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  font-family: "Inconsolata", sans-serif;
  background: #3f624e;
  color: white;
}

.accordion label:hover,
.accordion label:focus {
  background: #b1e9d6;
  color: #383b3d;
}

.accordion .handle label:before {
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
  font-family: "Inconsolata", sans-serif;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}