<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Style.TBD</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
</head>
<body>
    <header>
        <h1>STYLE.TBD</h1>
    </header>


    <nav>
        <a href="index.j2">Home</a>
        <a href="about.j2">About</a>
        <a href="view.j2">View</a>
    </nav>

    <main>
        <section>
            <h2>A digital gallery to manage your closet.</h2>
        </section>
    </main>
</body>
</html>